pages:
  stage: build
  script:
    - git fetch --tags --force
    - git checkout $CI_COMMIT_REF_NAME
    - scripts/build_docs_versioned.py public $CI_COMMIT_REF_NAME $(git tag)
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  variables:
    GIT_STRATEGY: "clone"